* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  body {
    background: rgb(255, 255, 255);
  }
 
.img-logo {
width: 80px;
height: 80px;
padding: 10px;
}

.col-2 {
width: 5%;    
}

#nav-desktop ul {
list-style: none;
display: flex;   
flex-direction: row;
flex-wrap: wrap;
column-gap: 5px;
padding: 20px;
width: 50%;
float: left;
}
    
#nav-desktop ul li {
font-weight: bold;
margin-left: 10px;
}

#nav-desktop ul li a {
color: black;
font-weight: 900%;
text-decoration: none;
font-size: 18px;
width: 20px;
font-size: 14px;
}

#banner {
display: inline-block;
position: relative;
top: -15px;
}

#banner img {
width: 100%;
padding: 10px;
}

#banner h2 {
  position: absolute;
  left: 150px;
  top: 180px;
  color: #f5f5f5;
  font-weight: bold;  
}

#banner p {
  position: absolute;
  width: 50%;
  left: 150px;
  top: 250px;
  font-size: 20px;
  color: #f5f5f5;
  font-weight: 150;
}

#destaques div {
  padding: 10px;
}

#destaques h2{
position: absolute;
width: 100%;
text-align: center;
font-size: 30px;
color: rgb(17, 52, 207);
font-weight: bold;
margin-top: -15px;
}

.destaque-vendas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 80px;
  justify-content: center;
}

.texto-centralizado {
  font-family: Arial;
  text-align: center;
  font-size: 25px;
  color: black;
  font-weight: bold;
}

.senai-card {
  width: 250px;
  border: 2px solid silver;
  border-radius: 5px;
  margin-top: 18px;
  background: solid rgb(201, 195, 195);
}
.senai-card img {
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}
.senai-card div {
  padding: 10px;
}

#banner3 img {
  width: 91%;
  height: 450px;
  left: 150px;
  margin-left: 60px;
  margin-top: 30px;
}
.carousel-inner {
  width: 100%;
 border-radius: 10px
}


#mais-vendidos {
 margin-top: 40px;
 margin: 10px;
}

#mais-vendidos h2 {
  font-family: Arial;
text-align: center;
font-size: 30px;
color: rgb(17, 52, 207);
font-weight: 900;
margin-bottom: 15px;
}

.texto-novidades{
  text-align: center;
}

#Novidades h2 {
  font-family: Verdana;
  font-size: 35px;
  margin-left: 25px;
  font-weight: bold;
  margin-bottom: 50px;
  margin-top: 40px;
}

.Novidades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 380px;
  justify-content: center;
}

.fifa-22 {
  margin-bottom: 90px;
  margin-bottom: 80px;
  border: 2px solid silver;
  border-radius: 5px;
}

.Battlefield-2042 {
  margin-top: 8px;
  margin-bottom: 80px;
  border: 2px solid silver;
  border-radius: 5px;
}

.Call-of-duty {
  margin-bottom: 90px;
  margin-bottom: 80px;
  border: 2px solid silver;
  border-radius: 5px;
}


.Cyberpunk div {
  margin-top: 10px;
  margin-bottom: 80px;
  border: 2px solid silver;
  border-radius: 5px;
}

.Hades {
  margin-bottom: 80px;
  border: 2px solid silver;
  border-radius: 5px; 
}

#midias-sociais img {
  width: 10%;
}

#banner2 {
  margin-left: 8px;
  width: 100%;
}

#banner2 img {
height: 370px;
padding: 5px;
}
